<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TypographyGenerator.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TypographyGenerator.Properties.Settings1>
            <setting name="SelectedFontPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTextColor" serializeAs="String">
                <value />
            </setting>
            <setting name="TextX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextSizeScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InputText" serializeAs="String">
                <value />
            </setting>
        </TypographyGenerator.Properties.Settings1>
    </userSettings>
</configuration>